// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #276FBF;
$grey: #f6f4f3;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #f72c25;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff;

.card-header{
    color: $blue;
    font: 20px $font-family-sans-serif;
}

#app .navbar-light .navbar-brand{
    color:$red;
}

table{
    background-color: $grey;
    thead tr{
        color:$blue;
        background-color: $white;
    }
    tr {
        color: $white;
        background-color: $blue;
        &:hover{
            background-color:$grey !important;
            color: $blue;
        }
    }
    

    td a .btn-primary{
       background-color: $grey;
       color: $blue;
    }
    td a .btn-primary{
            &:hover{
                color: $white; 
            }
    } 
}

form {
    label{
        color: $blue;
    }
    button[type="submit"]{
        &:hover{
            background-color:$blue;
            border-color: $grey;
        }
    }
}